{% extends 'base.html' %}

{% block body %}
<div class="container my-5">
  <h2>About This App</h2>

  <p>
    This Todo App helps users manage daily tasks efficiently.
    Users can add, update, delete, search, and mark tasks as completed.
  </p>

  <h5>Key Features</h5>
  <ul>
    <li>Add, update, and delete tasks</li>
    <li>Mark tasks as completed</li>
    <li>Search tasks easily</li>
    <li>Simple and clean interface</li>
  </ul>

  <h5>Technologies Used</h5>
  <ul>
    <li>Python & Flask</li>
    <li>SQLAlchemy & SQLite</li>
    <li>HTML, CSS, Bootstrap</li>
  </ul>

  <h5>Purpose</h5>
  <p>
    This project was built to practice backend development concepts
    such as CRUD operations and HTTP methods.
  </p>
</div>
 {% endblock body %} 

